<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704210553609-89gcqk0uq58886mvfoc3rbeh1ul1cded.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704210553609-89gcqk0uq58886mvfoc3rbeh1ul1cded</string>
	<key>API_KEY</key>
	<string>AIzaSyDqHuqDjQMyzhSzqttbPiCHLGqPlS7ez78</string>
	<key>GCM_SENDER_ID</key>
	<string>704210553609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxellm.instamatch</string>
	<key>PROJECT_ID</key>
	<string>instamatch-ee1ae</string>
	<key>STORAGE_BUCKET</key>
	<string>instamatch-ee1ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704210553609:ios:c4755bb7c3299337c221d8</string>
	<key>DATABASE_URL</key>
	<string>https://instamatch-ee1ae.firebaseio.com</string>
</dict>
</plist>